html, body {
  margin: 0; 
  padding: 0;
}

.l-demo-container {
  position: relative;
  margin: 140px auto 0;
  width: 684px;
  height: 436px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
}

.header {
  padding-left: 22px;
  height: 31px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
}

.circle {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
}

#colorholder {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -302px;
  height: 70px;
  width: 604px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 8px #aaa;
  background-color: #444;
}

.colorbox {
  float: left;
  margin-top: 19px;
  margin-left: 24px;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 100%;
}

#flush {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -18px;
  padding-left: 20px;
  padding-right: 28px;
  height: 36px;
  line-height: 36px;
  background-color: transparent;
  cursor: pointer;
  border-left: 1px solid #3e3e3e;
  color: #fff;
}

#flush:before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  height: 36px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.05);
}

.canvas-content {
  cursor: url(/images/brush.ico), default;
}